:root {
  --grid-rows: 1;
  --grid-cols: 1;
}
.gridContainer {
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: 30px;
  border: 1px solid rgba(139, 58, 139, 0.808);
  text-align: center;
  width: 700px;
  height: 700px;
}
.cell {
  border: 1px solid black;
}
