:root {
  --grid-rows: 1;
  --grid-cols: 1;
  background-color: rgb(255, 255, 255);
}
body {
  background-image: url("notebook.JPG");
  background-repeat: no-repeat;
  height: 100vh;
  width: 400vh;
  background-size: contain;
  background-position: left;
  /* background-color: rgb(250, 250, 250); */
  /* background-color: rgba(233, 233, 233, 0.253); */
  font-family: "Dancing Script", cursive;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(16, 25px [col-start]);
  grid-template-rows: repeat(16, 25px [row-start]);
  text-align: center;
  position: absolute;
  z-index: 2;
  transform: skew(1deg, -8deg) scale(0.88);
  margin-left: 27vh;
  /* margin-top: 27.5vh; */
  background-color: rgba(255, 255, 255, 0.89);
  border: 3px rgba(139, 58, 139, 0.808) solid;
}
.cell {
  border: 1px solid rgba(139, 58, 139, 0.808);
}
.buttonContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.btn {
  float: right;
  justify-content: space-around;
  margin-top: 5.6vh;
  background-color: rgba(139, 58, 139, 0.808);
  border: 1px solid black;
  font-size: 25px;
  font-family: "Lobster", cursive;
}
.buttonContainer {
  /* width: 70%; */
  /* margin-right: 2vh; */
  width: 70%;
  display: flex;
  width: 5%;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 650px;
  height: auto;
  position: center;
  align-self: center;
}
h1 {
  right: 12vh;
  text-align: right;
  position: fixed;
  font-size: 180px;
  position: fixed;
  width: 50%;
  margin-top: -7vh;
  color: black;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.233);
