:root {
  --grid-rows: 1;
  --grid-cols: 1;
}
body {
  background-image: url("notebook.JPG");
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  /* min-height: 100%; */
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(16, 40px [col-start]);
  grid-template-rows: repeat(16, 40px [row-start]);
  text-align: center;
}
.cell {
  border: 1px solid rgba(139, 58, 139, 0.808);
}
/* .cell:hover,
.cell.hover {
  background: blue;
} */
.buttonContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
